<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.luckyaf.strongbox">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/><!-- 获得正在运行的应用程序权限 -->
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <application
        android:allowBackup="true"
        android:name=".MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.login.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/CommonAppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:theme="@style/CommonAppTheme" />
        <activity android:name=".activity.login.FirstUseActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.login.CalculatorActivity"
            android:theme="@style/CommonAppTheme" />
        <activity android:name=".activity.EditPassWordActivity"
            android:theme="@style/EditTheme"/>
        <activity android:name=".activity.EditDiaryActivity"
            android:theme="@style/EditTheme"/>
        <activity android:name=".activity.EditContactActivity"
            android:theme="@style/EditTheme"/>
        <activity android:name=".activity.AddLockProgramActivity"
            android:theme="@style/EditTheme"/>
        <activity android:name=".util.image.SelectImageActivity"
            android:theme="@style/EditTheme"/>

        <!-- 开机启动 -->
        <receiver android:name=".ProtectBC" android:enabled="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <!-- 后台服务监视应用程序状态并保护 exported="true"表示可以导出服务 -->
        <service
            android:name=".service.ProgramProtectService"
            android:exported="true">
        </service>

    </application>

</manifest>